
geekshop/.idea/workspace.xml
geekshop/geekshop/__pycache__/settings.cpython-37.pyc
geekshop/geekshop/__pycache__/urls.cpython-37.pyc
geekshop/mainapp/__pycache__/admin.cpython-37.pyc
geekshop/mainapp/__pycache__/models.cpython-37.pyc
geekshop/mainapp/__pycache__/urls.cpython-37.pyc
geekshop/mainapp/__pycache__/views.cpython-37.pyc
geekshop/mainapp/migrations/__pycache__/0001_initial.cpython-37.pyc
geekshop/adminapp/__pycache__/__init__.cpython-37.pyc
geekshop/adminapp/__pycache__/admin.cpython-37.pyc
geekshop/adminapp/__pycache__/forms.cpython-37.pyc
geekshop/adminapp/__pycache__/models.cpython-37.pyc
geekshop/adminapp/__pycache__/urls.cpython-37.pyc
geekshop/adminapp/__pycache__/views.cpython-37.pyc
*.pyc
geekshop/basketapp/migrations/__pycache__/0001_initial.cpython-37.pyc
geekshop/mainapp/__pycache__/models.cpython-37.pyc
geekshop/mainapp/__pycache__/models.cpython-37.pyc
