<ul class="menu">
    <li><a href="{% url 'main' %}" {% if request.resolver_match.url_name == 'main' %}
           class="active" {% endif %}>Домой</a></li>
    <li><a href="{% url 'products:index' %}"  {% if request.resolver_match.url_name == 'products' %}
           class="active" {% endif %}>Продукты</a></li>
    <li><a href="{% url 'contact' %}"  {% if request.resolver_match.url_name == 'contact' %}
           class="active" {% endif %}>Контакты</a>
    </li>
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
    </li>
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
    {% endif %}
</ul>

