body {
    background-color: #f8f8f8;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    background-color:burlywood;
    position: relative;
    height: 250px;
    margin-left: auto;
    margin-right: 0em;
    text-align: right;
}

.header_logo {
    float: left;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 25px;
    top: 50px;
}

.header_menu {
    display: inline-block;
    text-align: start;
    position: relative;
    top: 90px;
    right: 25px
}

.title {
    position: relative;
    top: 140px;
}



.menu li {
    font-size: 24px;
    font-family: fantasy;
    font-weight: normal;
    font-style: italic;
    list-style-type: none;
    display:inline-block;
}

.menu li a:hover {
    color: #312447;
}

.menu li a:active {
    color: green;
}

.menu li a {
    color: #7450c0;
}

.catalog_menu a {
    font-size: 20px;
    font-family: fantasy;
    font-weight: normal;
    font-style: italic;
    text-align: center; 
}

.catalog_menu a:hover {
    color: #312447;
}

.catalog_menu a:active {
    color: green;
}


.title {
    color: #7450c0;
    font-size: 24px;
    font-family: fantasy;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short {
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.details {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.weather {
    color: darkcyan;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

.classified {
    color: red;
    font-size: 25px;
    font-weight: 600;
    line-height: 250px;
}

.classified-link {
    color: blueviolet;
    font-size: 50px;
    font-weight: 100;
    font-family: fantasy;
    font-weight: normal;
    font-style: italic;
    
}

.chars li {
    color: darkgreen;
    font-size: 24px;
    font-family: monospace;
    font-weight: normal;
    font-style: oblique;
    list-style-image: url(img/V.png);
}

.input_name {
    height: 25px;
    width: 500px;
    color: darkcyan;
    font-size: 20px;
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
}

.input_message {
    height: 100px;
    width: 500px;
    color: darkorange;
    font-size: 25px;
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
}

.input_e-mail {
    height: 25px;
    width: 500px;
    color: darkcyan;
    font-size: 20px;
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
}

.image {
    outline: 5px solid #194;
}

:hover {
    outline: none;
}

.short:first-letter {
    font-size: 20px;
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
}

.details:first-letter {
    font-size: 20px;
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
}

.weather:first-letter {
    font-size: 20px;
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
}

.table_chars {
    border: 1px solid #000;
    width: auto;
    height: auto;
    border-collapse: collapse;
}

.table_chars td {
    border: 1px solid #000;
    width: auto;
    height: 25px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.table_chars_headings {
    color: purple;
    font-size: 16px;
    height: 45px;
    font-weight: 600;
}


.clear {
    clear: left;
}

.field {
    clear: both;
    text-align: right;
    line-height: 25px;
}

label {
    float: left;
    padding-right: 10px;
}

.main_contacts {
    float: left;
}

input {
    text-transform: capitalize;
}

.input_e-mail:focus {
    color: red;
    background-color: burlywood;
}


.footer {
    height: 100px;
    background-color: #7450c0;
    position: relative;
    text-align: right;
    color: white;
}

.copyright {
    position: relative;
    top: 40px;
    right: 25px;
}

.content {
    text-align: center;
    
}




.catalog_s119 {
    float: left;
}

.catalog_menu a {
    position: relative;
    bottom: 70px;
}

.img_s119 {
        float: left;
}

.img_classified {
        float: left;
}


.buy_button:hover {
    color: red;
}

.buy_button:active {
    background-color: yellow;
}